<nb-card>
  <nb-card-header><b>{{ titleForm }}</b></nb-card-header>
  <nb-card-body>
    <form [formGroup]="formAuth">
      <input type="text" class="mb-3" nbInput fullWidth formControlName="id" placeholder="Identificate">
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danger" (click)="saveData(formAuth.value)" [disabled]="formAuth.invalid || btnDisabled">{{ btnLabel }}</button>
    <button nbButton status="warning" class="ml-3" (click)="closeDialog()">Cancelar</button>
  </nb-card-footer>
</nb-card>
